@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope&display=swap');
@import "libs/reset.scss";
@import "libs/mixins.scss";

/* FONTS */

$titleFont: 'Anton', sans-serif;
$classicFont: 'Manrope', sans-serif;

/* COLORS */

$yellow: #FFD15B;
$grey: #7A7A7A;
$white: #FFF;
$lightBlack: #1B1B1B;
$black: #000;
$backgroundColor: #EDEDED;

* {
    font-family: $classicFont;
}

h1,
h2,
h3 {
    font-family: $titleFont;
}

main {
    padding: 0 75px;
    background: $backgroundColor;
}

/* ----------------------- HEADER ----------------------- */

header {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("../assets/icons/home_picture.png"), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-container {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 250px;

    .logo {
        width: 100%;
    }
}

.title-search_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
        width: 40%;
        color: $yellow;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        font-weight: lighter;
        font-size: 40px;
    }

}

.search_bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

    .search_bar {
        width: 40%;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 16px;
        outline: none;
        border: none;
    }

    .search_button {
        margin-left: -45px;
        width: 40px;
        height: 40px;
        position: relative;
        top: 5px;
        background-color: $lightBlack;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;

        circle, line {
            transition: 0.5s;
        }



        &:hover {
            background-color: $yellow;

            circle, line {
                stroke: $black;
            }
        }
    }

    input[type="search" i]::-webkit-search-cancel-button {
        @include cross
    }
}


/* ----------------------- SORT SECTION -----------------------*/

.dropdown_section {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    h3 {
        padding-top: 8px;
    }
}

.dropdowns_container {
    display: flex;
    width: 700px;
}

.dropdown {
    margin-right: 50px;
    background-color: $white;
    border-radius: 15px;
    width: 100%;

    .dropdown_list {
        padding-top: 10px;
        overflow: auto;
        text-overflow: clip;
        max-height: 170px;

        li {
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: $yellow;
            }
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $white;
            padding: 1px;
            border-radius: 4px;
            border: 2px solid #dbdee2;
          }

        &::-webkit-scrollbar-thumb {
            background: #dbdee2;
            border-radius: 4px;
          }
    }

    .dropdown_menu {
        transition: all 0.25s;
        overflow: hidden;
        max-height: 200px;
    }

    .hide_ingredient, .hide_ustensil, .hide_appliance {
        max-height: 0;
        opacity: 0%;
    }
}

.dropdown_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    cursor: pointer;

    .chevron {
        background: url(../assets/icons/svg/chevron.svg) no-repeat;
        position: relative;
        right: 0;
        display: block;
        text-indent: -9999px;
        width: 15px;
        height: 8px;
    }
}

.dropdown_search {
        position: relative;
        display: flex;
        align-items: center;
        width: 85%;
        margin: auto;

        input {
            border: 1px solid $grey;
            padding: 5px;
            outline: none;
            font-size: 14px;
            width: 100%;
        }

        button {
            border: none;
            background-color: transparent;
            position: absolute;
            position: absolute;
            right: 0;
            cursor: pointer;
            padding: 0 5px 0 0;
        }

        .loop {
            display: block;
            position: absolute;
            right: 10px;
            text-indent: -9999px;
            width: 18px;
            height: 18px;
            background: url(../assets/icons/svg/loop.svg) no-repeat;
            background-size: contain;
            transition: 0.5s;
        }

    input[type="search" i]::-webkit-search-cancel-button {
        @include cross(10px, 10px, contain, 30px);
    }
}

.tags_section {
    padding: 10px 50px 0;
    display: flex;
    flex-wrap: wrap;

    .item {
        display: inline-flex;
        padding: 10px 12px;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: $yellow;
        margin: 5px 10px 5px 0;
    }
    
    .delete-btn {
        width: 17px;
        height: 17px;
        background: url(../assets/icons/svg/circleCross.svg) no-repeat;
        background-size: contain;
        cursor: pointer;
    }


}

.error_dropdown {
    display: none;
    height: 65px;
    align-items: center;
    justify-content: center;
}




/* ----------------------- RECIPE SECTION ----------------------- */

.recipe_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

.recipe_card {
    background-color: $white;
    border-radius: 10px;
    width: 70%;
    margin: 50px;
    position: relative;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);

    &:hover {
        transform: scale(1.03);
    }

    .recipe_duration_container {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $yellow;
        border-radius: 15px;
        padding: 5px 15px;
    }

    .recipe_photo {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

}

.recipe_description {
    margin: 20px 25px;

    .recipe_title {
        padding-bottom: 15px;
        font-size: 18px;
    }

    .title {
        color: #7A7A7A;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.08px;
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    .recipe_text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .text {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .ingredients_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .ingredients {
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }

        .quantity {
            color: $grey;
            font-weight: lighter;
        }

    }


}

/* ----------------------- ERROR SECTION ----------------------- */

.error {
    display: none;
    height: 35vh;
    align-items: center;
    justify-content: center;

    .msg {
        font-size: 25px;
    }
}


/* ----------------------- RESPONSIVE ----------------------- */

@media only screen and (max-width: 1100px) {
    main {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-container {
        width: 220px;
        top: 50px;
        left: initial;
    }

    .title-search_bar .title {
        width: 85%;
        font-size: 28px;
    }

    .search_bar-container .search_bar {
        width: 95%;
        font-size: 15px;
    }

    .dropdown_section {
        align-items: center;
        padding: 0;
        padding-top: 15px;

        .dropdowns_container {
            width: 200px;
            flex-direction: column;
        }

        .dropdown {
            margin: 10px 0;
        }

        h3 {
            padding: 0;
        }
    }

    .tags_section {
        padding: 10px 0 20px;
    }

    .recipe_section {
        align-items: center;
        grid-row-gap: 50px;

        .recipe_card {
            width: 100%;
            margin: 0;
        }
    }

}